<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e583ed">  <td>15/12/13 19:14:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;com.live.magento.TNG.test_area.TestContactUs.setUp()">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1200053671</td>   <td></td> </tr>
<tr bgcolor="e583ed">  <td>15/12/13 19:14:37</td>   <td>14965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="com.live.magento.TNG.test_area.TestContactUs.testUserRegistrationFunctionality(java.lang.String, java.lang.String, java.lang.String, java.lang.String)">testUserRegistrationFunctionality</td> 
  <td>main@1200053671</td>   <td></td> </tr>
<tr bgcolor="e583ed">  <td>15/12/13 19:14:39</td>   <td>17825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;com.live.magento.TNG.test_area.TestContactUs.closeBrowser()">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1200053671</td>   <td></td> </tr>
</table>
